.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #35324D;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #DF5F5F;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header table {
  width: 40%;
  border-collapse: collapse;
}

.App-header table tr:first-child {
  background-color: #F49999;
  color: white;
}

.App-header table tr,
.App-header table td {
  border: 4px solid #DF5F5F;
  padding: 20px;
  text-align: center;
  color: white;
}
